.nav{
  
  &bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.1rem 2rem;
        background: $lightCream;
        z-index: 1;
    }
    
    &-header {
        display: flex;
        justify-content: space-between;

        &>a {
            height: 30px;
            text-decoration: none;
            font-family: 'Norican', cursive;
            color: #1f7eaa;
            margin: auto 0;
            font-size: 1.5rem;
            font-weight: normal;

            &>h3 {
                margin-bottom: 0;
            }
        }
    }

    &-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &-icon {
        font-size: 1.5rem;
        color: $primaryColor;
    }

    &-links {
        height: 0;
        overflow: hidden;
        transition: $mainTransition;
        list-style-type: none;

        & a {
            display: block;
            text-decoration: none;
            padding: 1rem 0;
            color: $mainBlack;
            transition: $mainTransition;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: $mainSpacing;

            :hover {
                color: $primaryColor;
            }
        }
    }

}

.show-nav {
  height: 100px;
}

@media screen and (min-width: 768px) {
  .nav {
        &-btn {
            display: none;
        }

        &-center {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
        }

        &-links {
            height: auto;
            display: flex;
            margin-left: 4rem;
            
            & a {
                margin: 0 1rem;
                padding: 0.5rem 0;
            }
        }

        
    }
}