//colors
$primaryColor: #af9a7d;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$lightCream: #FBF8EE;
$lighterCream: #F8F1E2;
$lightestCream: #FDFBF3;
$mainBlue: rgb(2, 79, 124);
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;

//shadows
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

//spacing
$mainSpacing: 3px;


//transition
$mainTransition: all 0.3s linear;